<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fair.draw.mapper.ResultCheckLogMapper">

    <insert id="insert">
        INSERT INTO result_check_log (participant_id) VALUES (#{participantId})
    </insert>

    <delete id="deleteByEvent">
        DELETE FROM result_check_log WHERE participant_id IN
                                           (SELECT id FROM participant WHERE event_id = #{eventId})
    </delete>

</mapper>