<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lotto.event.mapper.WinnerResultMapper">

    <resultMap id="winnerResultMap" type="com.lotto.event.domain.WinnerResult">
        <id property="id" column="id"/>
        <result property="participantId" column="participant_id"/>
        <result property="rankType" column="rank_type"/>
        <result property="matchedCount" column="matched_count"/>
        <result property="prizeStatus" column="prize_status"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO winner_result (participant_id, rank_type, matched_count, prize_status)
        VALUES (#{participantId}, #{rankType}, #{matchedCount}, #{prizeStatus})
    </insert>

    <select id="findByParticipant" resultMap="winnerResultMap">
        SELECT * FROM winner_result WHERE participant_id = #{participantId}
    </select>

    <select id="findByRank" resultMap="winnerResultMap">
        SELECT * FROM winner_result WHERE rank_type = #{rankType}
    </select>

</mapper>